.banner {
	background-image: url(../img/about-banner.webp);
	height: 288px;
	padding-top: 0px;
	background-size: 100% 100%;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	margin-top: -74px;
	color: #fff;
}

.content-wrapper1 {
	position: absolute;
	top: 150px;
}

/* We are Best Start Here */
section.why-we-are-best {
	padding: 120px 0px 50px 0px;
}
.text-on-right-side {
	padding-top: 35px;
	padding-left: 35px;
}

.heading-img h1 {
	color: #002154;
	font-size: 45px;
	font-family: "Aileron-SemiBold";
	margin-bottom: 50px;
}

.normal-para p {
	color: #000000;
	font-size: 18px;
	font-family: "Aileron-Light";
}

.list-items li {
	color: #000000;
	font-size: 18px;
	font-family: "Aileron-Light";
}

.list-items ul {
	padding-left: 22px;
}

.list-items li {
	color: #000000;
	font-size: 16px;
	font-family: "Aileron-Light";
}

.list-items li::before {
	content: "";
	padding-left: 13px;
}

.list-items li::marker {
	font-size: 21px;
	margin-left: 12px;
	color: #136efa;
}

.link-to-services a {
	color: #136efa;
	font-family: "Aileron-Regular";
	font-size: 16px;
}

/* Best Section End Here */

/* Qualities section start here */
.advanced-daog-qualities {
	padding: 10px 0px;
}
.single-quality {
	padding: 25px 25px;
}

.text-box h1 {
	color: #002154;
	font-size: 48px;
	font-family: "Aileron-SemiBold";
}

.text-box p {
	color: #000000;
	font-size: 18px;
	font-family: "Aileron-Light";
}

.single-quality h4 {
	color: #002154;
	font-size: 26px;
	font-family: "Aileron-SemiBold";
	line-height: 31px;
}

/* Qualities End Here */

/* Who we are start Here */
.who-we-are-section {
	padding: 50px 0px;
	background-color: #eff8ff;
}

.text-wraper h1 {
	color: #002154;
	font-size: 48px;
	font-family: "Aileron-SemiBold";
}

.text-wraper p {
	color: #000000;
	font-size: 16.8px;
	font-family: "Aileron-Light";
}

/* Who we are End here */
/* TEAM BHEIND START HERE */
section.team-behind-start {
	padding: 135px 0px 85px 0px;
}
.for-heading h1 {
	color: #002154;
	font-size: 48px;
	font-family: "Aileron-SemiBold";
	text-align: center;
}

.single-person {
	border-radius: 19px;
	overflow: hidden;
	background-color: #002154;
}
.single-person figure {
	margin: 0px;
}

.for-img img {
	width: 100%;
}

.member-detail {
	text-align: center;
	background-color: #002154;
	padding: 12px 0px 19px 0px;
}

.member-detail h4 {
	color: #ffffff;
	font-size: 26px;
	font-family: "Aileron-SemiBold";
	margin-bottom: 0px;
}

.member-detail p {
	color: #ffffff;
	font-size: 13.5px;
	font-family: "Aileron-Regular";
}
.member-detail a {
	color: #ffffff;
	font-size: 14px;
	font-family: "Aileron-Regular";
	text-decoration: underline;
}
.for-img img {
	border-radius: 19px;
}
.heading-img {
	margin-top: 30px;
}
.text-wraper ul {
	padding: 0 0;
}
.text-wraper ul li {
	list-style: none;
}
.text-wraper p {
	margin: 0;
}
.text-wraper {
	text-align: justify;
	line-height: 1.7;
}
/* responsive start */
@media (max-width: 820px) {
	.heading-img {
		margin-top: 180px;
	}
	section.why-we-are-best {
		padding: 50px 0px 70px 0px;
	}
	.banner {
		background-size: 100% 100%;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 768px) {
	.heading-img {
		margin-top: 180px;
	}
	section.why-we-are-best {
		padding: 50px 0px 70px 0px;
	}
	.banner {
		background-size: 100% 100%;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 575px) {
	.banner {
		background-size: 100% 100%;
		height: 230px;
	}
	.text-on-right-side {
		padding-top: 35px;
		padding-left: 5px;
	}
	.list-items ul {
		padding-left: 22px;
	}
	section.why-we-are-best {
		padding: 110px 0px 50px 0px;
	}
	.list-items ul {
		padding-left: 32px;
	}
	.list-items li {
		font-size: 12px;
	}
	.text-box p {
		font-size: 15px;
	}
	.text-box h1 {
		font-size: 37px;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 414px) {
	.banner {
		background-size: 100% 100%;
	}
	.text-on-right-side {
		padding-top: 35px;
		padding-left: 5px;
	}
	.list-items ul {
		padding-left: 22px;
	}
	section.why-we-are-best {
		padding: 110px 0px 50px 0px;
	}
	.list-items ul {
		padding-left: 32px;
	}
	.list-items li {
		font-size: 12px;
	}
	.text-box p {
		font-size: 15px;
	}
	.text-box h1 {
		font-size: 37px;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 375px) {
	.banner {
		background-size: 100% 100%;
		height: 230px;
	}
	.text-on-right-side {
		padding-top: 35px;
		padding-left: 5px;
	}
	.list-items ul {
		padding-left: 22px;
	}
	section.why-we-are-best {
		padding: 110px 0px 50px 0px;
	}
	.list-items ul {
		padding-left: 32px;
	}
	.list-items li {
		font-size: 12px;
	}
	.text-box p {
		font-size: 15px;
	}
	.text-box h1 {
		font-size: 37px;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 360px) {
	.banner {
		background-size: 100% 100%;
	}
	.text-on-right-side {
		padding-top: 35px;
		padding-left: 5px;
	}
	.list-items ul {
		padding-left: 22px;
	}
	section.why-we-are-best {
		padding: 110px 0px 50px 0px;
	}
	.list-items ul {
		padding-left: 32px;
	}
	.list-items li {
		font-size: 12px;
	}
	.text-box p {
		font-size: 15px;
	}
	.text-box h1 {
		font-size: 37px;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 320px) {
	.banner {
		background-size: 100% 100%;
	}
	.text-on-right-side {
		padding-top: 35px;
		padding-left: 5px;
	}
	.list-items ul {
		padding-left: 22px;
	}
	section.why-we-are-best {
		padding: 110px 0px 50px 0px;
	}
	.list-items ul {
		padding-left: 32px;
	}
	.list-items li {
		font-size: 12px;
	}
	.text-box p {
		font-size: 15px;
	}
	.text-box h1 {
		font-size: 37px;
	}
	.heading-img {
		margin-top: 70px;
	}
	section.why-we-are-best {
		padding: 0px 0px 0px 0px;
	}
}
/* responsive end */
