.banner {
	background-image: url(../img/about-banner.webp);
	height: 288px;
	padding-top: 0px;
	background-size: 100% 100%;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	margin-top: -74px;
	color: #fff;
}

.content-wrapper {
	position: absolute;
	top: 150px;
}

.aog-top-text-section {
	padding: 50px 0px;
}

.aog-top-text-section .text-start-here h1 {
	color: #002154;
	width: 541px;
	font-size: 48px;
}

.aog-top-text-section .text-start-here p {
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 17px;
	width: 830px;
}

/* aog maintenenance start here */
.single-maintenance {
	margin-top: 80px;
}

.side-text-1 {
	padding-left: 25px;
}

.side-text-2 {
	padding-right: 25px;
}

.normal-text h1 {
	color: #002154;
	font-size: 47px;
	font-family: "Aileron-SemiBold";
}

.normal-text p,
.list-items li {
	color: #000000;
	font-size: 18px;
	font-family: "Aileron-Light";
}

.list-items ul {
	padding-left: 22px;
}

.list-items li {
	color: #000000;
	font-size: 16px;
	font-family: "Aileron-Light";
}

.list-items li::marker {
	font-size: 21px;
	margin-left: 12px;
	color: #136efa;
}

/* section end here */

/* Qualities section start here */
.advanced-daog-qualities {
	padding: 50px 0px;
}

.single-quality {
	padding: 25px 25px;
}

.text-box h1 {
	color: #002154;
	font-size: 48px;
	font-family: "Aileron-SemiBold";
}

.text-box p {
	color: #000000;
	font-size: 18px;
	font-family: "Aileron-Light";
}

.single-quality h4 {
	color: #002154;
	font-size: 26px;
	font-family: "Aileron-SemiBold";
	line-height: 31px;
}
@media screen and (max-width: 820px) {
	.banner {
		padding-top: 150px;
	}
	.aog-top-text-section .text-start-here p {
		font-size: 17px;
		width: 100%;
	}
	.aog-top-text-section .text-start-here h1 {
		color: #002154;
		width: 100%;
		font-size: 38px;
	}
}
@media screen and (max-width: 575px) {
	.banner {
		padding-top: 150px;
	}
	.banner {
		background-size: 100% 100%;
		height: 230px;
	}
	.aog-top-text-section .text-start-here p {
		font-size: 17px;
		width: 100%;
	}
	.aog-top-text-section .text-start-here h1 {
		color: #002154;
		width: 100%;
		font-size: 38px;
	}
}
