.banner {
    background-image: url(../img/about-banner.png);
    height: 288px;
    padding-top: 0px !important;
    background-size: cover;
    padding-bottom: 0px !important;
    background-repeat: no-repeat;
    margin-top: -74px;
    color: #fff;
}

.content-wrapper {
    position: absolute;
    top: 150px;
}

/* top text section */
section.career-top {
    padding: 80px 0px 50px 0px;
}

section.career-top .top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.career-top .top-text h1 {
    color: #002154;
    font-size: 48px;
    font-family: "Aileron-SemiBold";
}

section.career-top .top-text .salary-and-timing {
    display: flex;
    width: 28%;
    justify-content: space-between;
    padding: 0px 18px;
    height: 100%;
}

.job-salary-timing {
    font-size: 16px;
    font-family: "Aileron-Regular";
    color: #636060;
    padding-left: 6px;
}

/* top text end here */

/* details start here */
h4 {
    color: #000000;
    font-size: 22px;
    font-family: "Aileron-Bold";
}

.career-detail-start p
{
    color: #000000;
    font-family: "Aileron-Light";
    font-size: 18px;
}

.career-detail-start{
    padding-bottom: 170px;
}

.job-complete-details{
    margin-top: 55px;
}

.list-items li {
    color: #000000;
    font-size: 18px;
    font-family: "Aileron-Light";
}

.list-items ul {
    padding-left: 22px;
}

.list-items li {
    color: #000000;
    font-size: 16px;
    font-family: "Aileron-Light";
}

.list-items li::before{
    content: "";
    padding-left: 13px;
}
.list-items li::marker {
    font-size: 21px;
    margin-left: 12px;
    color: #136EFA;
}

.apply-now-btn{
    padding: 6spx 35px;
    margin-top: 45px;
    color: #FFFFFF;
  font-family: "Aileron-Regular";
  font-size: 16px;
}