.banner {
	background-image: url(../img/about-banner.png);
	height: 288px;
	padding-top: 0px !important;
	background-size: cover;
	padding-bottom: 0px !important;
	background-repeat: no-repeat;
	margin-top: -74px;
	color: #fff;
}

.content-wrapper {
	position: absolute;
	top: 150px;
}

section.banner .content-wrapper h1 {
	font-size: 41px;
}
/* Contact section start */
.contact-section-start {
	padding: 100px 25%;
}

.top-text-strat h6 {
	color: #272727;
	font-family: "Aileron-Regular";
	font-size: 18px;
	font-weight: lighter;
}
.top-text-strat h2 {
	color: #002154;
	font-family: "Aileron-SemiBold";
	font-size: 48px;
}

.top-text-strat p {
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 16px;
}

.form-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form-input {
	width: 47%;
}

.form-input label {
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 14px;
}

.form-control {
	border: 1px solid #c3cad9;
	border-radius: 19px;
	padding: 10px 12px;
	color: #959ead;
	font-family: "Aileron-Regular";
	font-size: 14px;
}

.form-textarea {
	width: 100%;
}

textarea.form-control {
	height: 109px;
	resize: none;
}

.form-button {
	width: 100%;
}

.form-button button {
	font-family: "Aileron-SemiBold";
	background-color: #136efa;
	font-size: 18px;
	color: #ffffff;
	width: 100%;
	border: 0px;
	border-radius: 22px;
	padding: 5px 0px;
}

/* begin of info section  */
.info-img img {
	background-color: #136efa;
	padding: 20px;
	border-radius: 3px;
	height: 70px;
}

.info-head h3 {
	font-size: 24px;
	color: #000000;
	font-family: "Aileron-Regular";
	font-weight: 400;
	padding: 25px 0px 15px;
}

.info-head p {
	font-size: 13px;
	font-family: "Aileron-Regular";
	color: #000000;
}

.info-annchor a {
	font-size: 14px;
	color: #136efa;
	font-family: "Aileron-Bold";
	text-decoration: none;
}

.info-box {
	text-align: center;
}

section.info-sec {
	padding: 10px 0px 200px 0px;
}

textarea#exampleFormControlTextarea1 {
	height: 140px;
	resize: none;
}

/* End of info section  */
@media (max-width: 1510px) {
	.contact-section-start {
		padding: 100px 21%;
	}
}

@media (max-width: 1300px) {
	.contact-section-start {
		padding: 100px 17%;
	}
}

@media (max-width: 1150px) {
	.contact-section-start {
		padding: 100px 12%;
	}
}

@media (max-width: 992px) {
	.contact-section-start {
		padding: 100px 8%;
	}

	.top-text-strat h2 {
		font-size: 38px;
	}

	.top-text-strat h6 {
		font-size: 16px;
	}

	.top-text-strat p {
		font-size: 13px;
	}
}

@media (max-width: 768px) {
	.contact-section-start {
		padding: 100px 4%;
	}

	.top-text-strat h2 {
		font-size: 29px;
	}

	.top-text-strat h6 {
		font-size: 13px;
	}

	.top-text-strat p {
		font-size: 11px;
	}
}

@media (max-width: 820px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
}
@media (max-width: 768px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 575px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 412px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 375px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 393px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 390px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 360px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
@media (max-width: 320px) {
	section.info-sec {
		padding: 10px 0px 70px 0px;
	}
	.contact-section-start {
		padding: 70px 0 0 0;
	}
}
