.banner {
	background-image: url(../img/about-banner.webp);
	height: 288px;
	padding-top: 0px;
	background-size: 100% 100%;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	margin-top: -74px;
	color: #fff;
}

.content-wrapper {
	position: absolute;
	top: 150px;
}

/* faqs top text */

.faqs-text h1 {
	color: #002154;
	font-family: "Aileron-SemiBold";
	font-size: 48px;
}

.faqs-text p {
	width: 830px;
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 18px;
}

section.faqs-top-section {
	padding-top: 74px;
	padding-bottom: 40px;
}

/* accordians begin here */

.faqs-questions-accrodian {
	padding-bottom: 100px;
}

.accrodians-start {
	width: 100%;
}

.single-accordian {
	margin-top: 15px;
}

.the-accordian-button {
	width: 100%;
	display: flex;
	background-color: white;
	border: 0px;
	border-radius: 0px;
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #a0a0a0;
	align-items: center;
	padding: 10px 30px 12px 5px;
	text-align: left;
}

button:focus {
	outline: navajowhite;
}

.the-accordian-button.collapsed::after {
	content: "";
	width: 14px;
	height: 14px;
	background-image: url(../img/plus.webp);
	background-size: cover;
}

.the-accordian-button.collapsed::after {
	content: "";
	width: 14px;
	height: 14px;
	background-image: url(../img/plus.webp);
	background-size: cover;
}

.accordian-item {
	padding: 15px 34px 5px;
}

.accordian-item p {
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 16px;
}

@media screen and (max-width: 991px) {
	.the-accordian-button {
		font-size: 17px;
	}
	.faqs-text p {
		width: 100%;
		font-size: 14px;
	}
}
@media screen and (max-width: 768px) {
	.the-accordian-button {
		font-size: 14px;
	}
}

/* ACCORDIAN SECTION END here */

/* Contact section start */
.contact-section-start {
	background-color: #eff8ff;
	padding: 150px 25% 80px;
}
.top-text-strat h6 {
	color: #272727;
	font-family: "Aileron-Regular";
	font-size: 20px;
}

.top-text-strat h2 {
	color: #002154;
	font-family: "Aileron-SemiBold";
	font-size: 48px;
}

.top-text-strat p {
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 16px;
}

.form-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form-input {
	width: 47%;
}

.form-input label {
	color: #000000;
	font-family: "Aileron-Regular";
	font-size: 14px;
}

.form-control {
	border: 1px solid #c3cad9;
	border-radius: 19px;
	padding: 10px 12px;
	color: #959ead;
	font-family: "Aileron-Regular";
	font-size: 14px;
}

.form-textarea {
	width: 100%;
}

textarea.form-control {
	height: 109px;
	resize: none;
}

.form-button {
	width: 100%;
}

.form-button button {
	font-family: "Aileron-Regular";
	background-color: #136efa;
	font-size: 16px;
	color: #ffffff;
	width: 100%;
	border: 0px;
	border-radius: 22px;
	padding: 5px 0px;
}
@media screen and (max-width: 1510px) {
	.contact-section-start {
		padding: 100px 21%;
	}
}

@media screen and (max-width: 1300px) {
	.contact-section-start {
		padding: 100px 17%;
	}
}

@media screen and (max-width: 1150px) {
	.contact-section-start {
		padding: 100px 12%;
	}
}

@media screen and (max-width: 992px) {
	.contact-section-start {
		padding: 100px 8%;
	}

	.top-text-strat h2 {
		font-size: 38px;
	}

	.top-text-strat h6 {
		font-size: 16px;
	}

	.top-text-strat p {
		font-size: 13px;
	}
}

@media screen and (max-width: 768px) {
	.contact-section-start {
		padding: 100px 4%;
	}

	.top-text-strat h2 {
		font-size: 29px;
	}

	.top-text-strat h6 {
		font-size: 13px;
	}

	.top-text-strat p {
		font-size: 11px;
	}
}

@media screen and (max-width: 768px) {
	.contact-section-start {
		padding: 100px 2%;
	}
}
