figure {
    margin-bottom: 0px;
}


.main-section-start{
    display: flex;
    justify-content: center;
}
.forgot-password{
    width: 23%;
}


.logo-in-login-page {
    position: absolute;
}

.login-start {
    margin-top: 120px;
}

.main-heading h2 {
    font-family: "Aileron-SemiBold" !important;
    color: #002154;
    font-size: 45px;
}


.text-box span {
    font-size: 15px;
}



.form-start {
    margin-top: 45px;
}

.form-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-control{
    width: 100% !important;
}

.all-inputs {
    border-radius: 30px;
    border: 1px solid #0000002e;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 13px;
    font-family: "Aileron-Light";
    color: #63606086;
    text-align: center;
}

.form-submit-btn {
    border-radius: 30px;
    background-color: #136EFA;
    font-family: "Aileron-Regular";
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.for-remeber-me-forget-forgot-paswrod {
    display: flex;
    justify-content: space-between;
}

.for-remeber-me-forget-forgot-paswrod {
    margin-top: 100px;
}



.forgot-password a {
    color: #0E3A20;
    font-family: "Aileron-Regular";
    font-size: 13px;
}

.agree-terms-and-conditions {
    margin-top: 130px;
}

.agree-terms-and-conditions p {
    font-family: "Aileron-Light";
    color: #636060;
    font-size: 13px;
}

.agree-terms-and-conditions p a {
    color: #002154;
    font-family: "Aileron-Regular";
    font-size: 13px;
}

h5.for-normal-heading{
  font-family: "Aileron-SemiBold" !important;
  color: #000000;
  font-size: 21px;
}
h5.for-semiboldd-heading{
  font-family: "Aileron-Regular" !important;
  color: #000000;
  font-size: 21px;
}
@media screen and (max-width: 1200px) {
    .forgot-password{
        width: 31.5%;
    }
}

@media screen and (max-width: 991px) {
    .forgot-password{
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .forgot-password{
        width: 55%;
    }
}

@media screen and (max-width: 576px) {
    .forgot-password{
        width: 68%;
    }
    h5{
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .forgot-password{
        width: 95%;
    }
    h5{
        font-size: 6px;
    }
}